# Rad transmitter driver
#
# Copyright (c) 2021 Daniel Veilleux
#
# SPDX-License-Identifier: LicenseRef-BSD-5-Clause-Nordic
#

menuconfig RAD_TX
	bool "Rad laser tag transmitter driver"
	select GPIO
	help
	  Enable Rad laster tag transmitter driver

if RAD_TX

config RAD_TX_DYNASTY
	bool "Enable sending messages to Dynasty Toys blasters (probably also Kidzlane, JOYMOR, etc.)"
	select RAD_MSG_TYPE_DYNASTY
	default y
	help
		Enable sending messages to Dynasty Toys blasters, a generic and now defunct brand

config RAD_TX_LASER_X
	bool "Enable sending messages to Laser X blasters"
	select RAD_MSG_TYPE_LASER_X
	default y
	help
		Enable sending messages to Laser X blasters

config RAD_TX_RAD
	bool "Enable sending messages to Rad blasters"
	select RAD_MSG_TYPE_RAD
	default y
	help
		Enable sending messages to Rad blasters

config RAD_TX_INIT_PRIORITY
	int "Rad laser tag transmitter init priority"
	default 90
	help
	  Rad laser tag transmitter init priority

module = RAD_TX
module-str = RAD_TX
source "${ZEPHYR_BASE}/subsys/logging/Kconfig.template.log_config"

endif #RAD_TX
