# Nordic servo
#
# Copyright (c) 2021 Daniel Veilleux
#
# SPDX-License-Identifier: LicenseRef-BSD-5-Clause-Nordic
#

menuconfig NORDIC_SERVO
	bool "Nordic servo"
	select NRFX_PWM
	help
	  Enable Nordic servo driver

if NORDIC_SERVO

config NORDIC_SERVO_ALLOW_PWM0
	bool "Allow PWM0"
	default true
    select NRFX_PWM0
	help
		Allow the driver to use PWM peripheral instance 0

config NORDIC_SERVO_ALLOW_PWM1
	bool "Allow PWM1"
	default true
    select NRFX_PWM1
	help
		Allow the driver to use PWM peripheral instance 1

config NORDIC_SERVO_ALLOW_PWM2
	bool "Allow PWM2"
	default true
    select NRFX_PWM2
	help
		Allow the driver to use PWM peripheral instance 2

config NORDIC_SERVO_ALLOW_PWM3
	bool "Allow PWM3"
	default true
    select NRFX_PWM3
	help
		Allow the driver to use PWM peripheral instance 3

config NORDIC_SERVO_INIT_PRIORITY
	int "Servo init priority"
	default 90
	help
	  Servo initialization priority

module = NORDIC_SERVO
module-str = NORDIC-SERVO
source "${ZEPHYR_BASE}/subsys/logging/Kconfig.template.log_config"

endif #NORDIC_SERVO
