/*
 * Copyright (c) 2020 Daniel Veilleux
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
	leds {
		compatible = "gpio-leds";
		/* Lightwell RGB */
		led0: led_0 {
			gpios = <&sx1509b 5 GPIO_ACTIVE_LOW>;
			label = "Green LED";
		};
		led1: led_1 {
			gpios = <&sx1509b 6 GPIO_ACTIVE_LOW>;
			label = "Blue LED";
		};
		led2: led_2 {
			gpios = <&sx1509b 7 GPIO_ACTIVE_LOW>;
			label = "Red LED";
		};
		VDD_PWR_CTRL: vdd_pwr_ctrl {
			gpios = <&gpio0 30 GPIO_ACTIVE_HIGH>;
			label = "VDD_PWR_CTRL";
		};
		RELAY_CTRL: relay_ctrl {
			gpios = <&gpio0 4 GPIO_ACTIVE_HIGH>;
			label = "RELAY_CTRL";
		};
	};

	buttons {
		compatible = "gpio-keys";
		button0: button_0 {
			/* gpio flags need validation */
			gpios = <&gpio0 11 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "Button";
		};
    	BAT_CHG_STATE: bat_chg_stat {
			gpios = <&gpio0 17 GPIO_ACTIVE_LOW>;
			label = "BAT_CHG_STAT";
		};
    	USB_DETECT: usb_detect {
			gpios = <&gpio0 13 GPIO_ACTIVE_HIGH>;
			label = "USB_DETECT";
		};
	};
};
