/ {
    servos {
        servo0: nordic-servo0 {
            compatible = "nordic,servo";
            label = "SERVO_0";
            pin = <31>;
            init_value = <0>;
            status = "okay";
        };
		servo1: nordic-servo1 {
            compatible = "nordic,servo";
            label = "SERVO_1";
            pin = <30>;
            init_value = <0>;
            status = "okay";
        };
        servo2: nordic-servo2 {
            compatible = "nordic,servo";
            label = "SERVO_2";
            pin = <29>;
            init_value = <50>;
            status = "okay";
        };
        servo3: nordic-servo3 {
            compatible = "nordic,servo";
            label = "SERVO_3";
            pin = <28>;
            init_value = <100>;
            status = "okay";
        };
        servo4: nordic-servo4 {
            compatible = "nordic,servo";
            label = "SERVO_4";
            pin = <27>;
            init_value = <100>;
            status = "okay";
        };
    };
};